<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <h1>KitchenStory</h1>
    </div>
    <div class="container-fluid py-3">
        <input class="form-control me-2" type="text" placeholder="Search products here" />&nbsp;&nbsp;
        <button class="btn btn-outline-success">Search </button>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a routerLink="/">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item"><a routerLink="/user">User Login</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item"><a routerLink="/admin">Admin Login</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item"><a href="#">Cart(0)</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
       
    </ul>
</nav>